@model M_ventas_y_cc.Models.DEPOSITO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DEPOSITO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DEPOSITOId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
