@model IEnumerable<M_ventas_y_cc.Models.SESION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ENCARGADOSId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contraseña)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ENCARGADOSId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contraseña)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SESIONId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SESIONId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SESIONId })
        </td>
    </tr>
}

</table>
