@model IEnumerable<M_ventas_y_cc.Models.STOCK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.STOCKId }) |
            @Html.ActionLink("Details", "Details", new { id=item.STOCKId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.STOCKId })
        </td>
    </tr>
}

</table>
